{% extends 'base.html' %}
{% block title %} Colaboradores {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="card vh-100 mt-3">
  <div class="card-header">
    <h3 class="card-title" style="font-weight: bold;">
      <i class="fa-solid fa-user-tie"></i>
      COLABORADORES
    </h3>
  </div>
  <div class="card-body">
    <td class="px-1"><a href="{% url 'collaborator:save_collaborator' %}" class="btn btn-primary btn-sm mb-3">
        Registrar novo colaborador
        <i class="fa-regular fa-plus"></i>
      </a></td>
    <div class="table-responsive">
      <table class="table mt-1" id="">
        <thead class="text-primary">
          <tr>
            <th style="font-weight: bold;">NOME DO COLABORADOR</th>
            <th style="font-weight: bold;">E-MAIL</th>
            <th style="font-weight: bold;">SITUAÇÃO</th>
            <th style="text-align: center;">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          {% for collaborator in collaborators %}
          {% if not user.username == collaborator.user.username %}
          <tr class="collaborator-row {{ collaborator.get_active_display }}">
            <th>{{ collaborator.name }}</th>
            {% if collaborator.user.email|length > 35 %}
            <th>{{ collaborator.user.email|slice:":35" }}...</th>
            {%else%}
            <th>{{ collaborator.user.email }}</th>
            {%endif%}
            <th >{{ collaborator.get_active_display }}</th>
            <th class="d-flex justify-content-center">
              <a type="submit" class="btn btn-primary me-3"
                href="{% url 'collaborator:update_collaborator' collaborator.id %}">Editar Dados
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a type="submit" class="btn btn-secondary"
                href="{% url 'collaborator:update_collaborator_password' collaborator.id %}">Editar Senha
                <i class="fa-solid fa-lock"></i>
              </a>
            </th>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
   $('table').DataTable({
    language: {
      info: 'Mostrando página _PAGE_ de _PAGES_',
      infoEmpty: 'Nada Disponível',
      infoFiltered: '',
      lengthMenu: 'Mostrando _MENU_ registros por página',
      zeroRecords: 'Nada encontrado, desculpe',
      "paginate": {
        "first": "Primeira",
        "last": "Última",
        "next": "Próxima",
        "previous": "Anterior"
      },
      "search": "Filtro por Nome/E-mail: ",
    },
    dom: '<"clear"p><"top"fl>rt<"bottom"ip><"clear">',
  });
  $('table').DataTable();
  
</script>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}