{% extends 'base.html' %} {% block title %} Cadastro de Colaboradores {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% load static %}
<div class="card mt-3">
    <div class="card-header rounded">
        <a href="{% url 'collaborator:main_menu_collaborator'%}">
            <i class="fa-sharp fa-solid fa-arrow-left fa-2xl"></i>
        </a>
        Voltar ao menu principal
    </div>
    <div class="card-header">
        Cadastro de Colaborador
    </div>
    <div>
        <div class="card-body d-flex justify-content-center align-items-center">  
            <form action="" method="post" class="vw-100">
                {% csrf_token %}
                {{ form.as_p }}
                <p>A senha deve conter letras maiscula, minusculas, numeros e no minímo 8 digitos</p>
                <div class="d-flex justify-content-center p-5 ">
                    <button type="submit" class="btn btn-primary" id="btn-save-collaborator" onclick="validateCPF(this)">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                    <a href="{% url 'collaborator:main_menu_collaborator'%}" class="btn btn-danger ms-5">
                        Cancelar
                    <i class="fa-solid fa-rectangle-xmark"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %}{% endblock javascripts %}