{% extends 'base.html' %}
{% block title %} Produtos {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="card vh-100 mt-3" style="width:100%;">
  <div class="card-header">
    <h3 class="card-title">Produtos</h3>
  </div>
  <div class="card-body">
    <td class="px-1"><a href="{% url 'product:save_product' %}" class="btn btn-primary mb-3 btn-sm">Salvar novo produto
        <i class="fa-regular fa-plus"></i>
      </a></td>
    <div class="table-responsive">
      <table class="table" id="">
        <thead class="text-primary">
          <tr>
            <th>Nome</th>
            <th style="text-align: center;">Codigo de Barras</th>
            <th style="text-align: center;">Categoria</th>
            <th style="text-align: center;">Preço</th>
            <th style="text-align: center;">Situação</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            {% if product.name|length > 35 %}
              <th>{{ product.name|slice:":35"}}...</th>
              {%else%}
              <th>{{ product.name }}</th>
              {%endif%}
            <th style="text-align:center;" class="code_bar">{{ product.code_bar }}</th>
            <th style="text-align:center;">{{ product.category.name }}</th>
            <th style="text-align:center;">R$ {{ product.price }}</th>
            <th style="text-align:center;">{{ product.get_active_display }}</th>
            <th><a type="submit" class="btn btn-primary btn-sm" href="{% url 'product:update_product' product.id %}">
                Editar
                <i class="fa-solid fa-pen-to-square"></i>
              </a></th>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<script>
 $('table').DataTable({
    language: {
      info: 'Mostrando página _PAGE_ de _PAGES_',
      infoEmpty: 'Nada Disponível',
      infoFiltered: '',
      lengthMenu: 'Mostrando _MENU_ registros por página',
      zeroRecords: 'Nada encontrado, desculpe',
      "paginate": {
        "first": "Primeira",
        "last": "Última",
        "next": "Próxima",
        "previous": "Anterior"
      },
      "search": "Filtro por palavra-chave: ",
    },
    dom: '<"clear"p><"top"fl>rt<"bottom"ip><"clear">',
  });
  $('table').DataTable();
</script> 
{% endblock content %}
{% block javascripts %}{% endblock javascripts %} 