{% extends 'base.html' %} {% block title %} Cadastro de Produtos {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="card-header rounded mb-3">
  <a href="{% url 'product:stock_management'%}">
    <i class="fa-sharp fa-solid fa-arrow-left fa-2xl"></i>
  </a>
  Voltar ao menu principal
</div>
<h5 class="mb-3" style="color: black;">Movimentações</h5>
<div class="card vh-100 d-flex align-items-center ">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  <form method="post">
    {% csrf_token %}
    <div class="d-flex flex-row">
      <p>Produto:</p>
      <p class="ms-2">{{product.name}}</p>
    </div>
    <label for="warehouse_quantity">
      Quantidade no Deposito
      <input id="warehouse_quantity" type="text" value="{{ warehouse_quatity }}" class="form-control" disabled="True">
    </label>
    <label for="storeStock_quantity">
      Quantidade na Loja
      <input id="storeStock_quantity" type="text" value="{{ storeStock_quatity }}" class="form-control" disabled="True">
    </label>
    <br />
    <div class="d-flex justify-content-center space-around">

      <input type="button" value="Transferir para a Loja" class="btn btn-primary me-2"
      data-bs-toggle="modal"  data-bs-target="#transfer_to_store" />
      
      <input type="button" value="Registrar Entrada" class="btn btn-primary"
      data-bs-toggle="modal"  data-bs-target="#entry_stock" />
      {% if product_category == 'Ingresso' %}
      <input type="button" value="Baixa Manual" class="btn btn-primary btn-sm ms-1" 
      data-bs-toggle="modal"  data-bs-target="#manual_destocking" />
      {% endif %}
      <a href="{% url 'product:stock_management'%}" class="btn btn-danger ms-5">
        Cancelar
        <i class="fa-solid fa-rectangle-xmark"></i>
      </a>
    </div>
  </form>
</div>

<!---------------------Modal de Adição de produtos ao estoque-------------------------------------------->
<div class="modal fade"
id="entry_stock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Entrada de produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mx-auto">
        <form action="{% url 'product:entry_stock' %}" class="d-flex flex-column" method="post">
          {% csrf_token %}
        <div class="d-flex flex-row">
          <p>Produto:</p>
          <p class="ms-2">{{product.name}}</p>
        </div>
        <input type="hidden" name="id_product" value="{{product.id}}">
        <input type="number" name="quantity" placeholder="Quantidade" class="form-control" min="0" required>
        <button class="btn btn-secondary mt-3" type="submit">Salvar</button>
      </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!---------------------Modal de Transferencia para a loja -------------------------------------------->
<div class="modal fade"
id="transfer_to_store" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Transferencia para a Loja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mx-auto">
        <form action="{% url 'product:transfer_to_store' %}" class="d-flex flex-column" method="post">
          {% csrf_token %}
        <div class="d-flex flex-row">
          <p>Produto:</p>
          <p class="ms-2">{{product.name}}</p>
        </div>
        <input type="hidden" name="id_product" value="{{product.id}}">
        <input type="number" name="quantity" placeholder="Quantidade" class="form-control" min="0" required>
        <button class="btn btn-secondary mt-3" type="submit">Salvar</button>
      </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!---------------------Modal de Baixa manual no estoque -------------------------------------------->
<div class="modal fade"
id="manual_destocking" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Baixa Manual de Produtos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mx-auto">
        <form action="{% url 'product:manual_destocking' %}" class="d-flex flex-column" method="post">
          {% csrf_token %}
        <div class="d-flex flex-row">
          <p>Produto:</p>
          <p class="ms-2">{{product.name}}</p>
        </div>
        <input type="hidden" name="id_product" value="{{product.id}}">
        <input type="number" name="quantity" placeholder="Quantidade" class="form-control" min="0" required>
        <button class="btn btn-secondary mt-3" type="submit">Salvar</button>
      </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



{% endblock content %} {% block javascripts %}{% endblock javascripts %}