{% extends 'base.html' %}
{% block title %} Produtos {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="d-flex flex-row vh-100" >
  <div class="card">
    <div class="card-header p-2">
      Filtro
    </div>
    <div class="card-body">
    <input type="text" id="myInput" placeholder="Nome do produto" class="form-control"/>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" onclick="enviar()" class="btn btn-fill btn-secondary btn-sm">
      Buscar
      <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </button>
    </div>
  </div>
  </div>
  
<div class="card col-10" style="width:100%;">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  <div class="card-header">
    <h4 class="card-title">Gestão de Estoque</h4>
    <td class="px-1"><a href="{% url 'product:stock_management' %}" class="btn btn-secondary btn-sm">Limpar Filtro</a></td>
  </div>
  <div class="card-body">
    <div class="table-responsive" >
      <table class="table" id="" >
        <thead class="text-primary">
          <tr>
            <th>Nome</th>
            <th>Quantidade na Loja</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in storeStock %}
          <tr>
            <th>{{ item.product.name }}</th>
            <th >{{ item.stock_quantity }}</th>
            <th><a type="submit" class="btn btn-secondary" href="{% url 'product:product_movement' item.product.id %}">
              Registrar Movimentação
              <i class="fa-solid fa-conveyor-belt-arm"></i>
            </a></th>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<script>
  function enviar() {
    var valorCampo = document.getElementById("myInput").value;
    window.location.href = "http://127.0.0.1:8000/product/stock_management_filter?parametro=" + valorCampo;
  }
</script>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}