{% extends 'base.html' %} {% block title %} Registro de Compras {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% load static %}
<div class="d-flex flex-row justify-content-between align-items-center me-3">
  <form action="{% url 'purchase:find_product'%}" method="POST">
    <div class="d-flex flex-row align-items-center">
      {% csrf_token %}
      {{ form_code_bar.as_p }}
      <button type="submit" value="Adicionar" class="btn btn-primary btn-sm ms-2 mt-1">
        <i class="fa-solid fa-plus fa-beat"></i>
      </button>
    </div>
  </form>
  <div>
    <th><a href="{% url 'purchase:clean_all_products_purchase' %}" class="btn btn-primary">Limpar Todos Produtos
        Adicionados</a>
    </th>
  </div>
</div>
{{ form.as_p}}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor Un.</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for item in purchaseItems %}
      <tr>
        <th scope="row">{{ item.product.id }}</th>
        <th scope="row">{{ item.product.name }}</th>
        <th scope="row">{{ item.price }}</th>
        <th><a href="{% url 'purchase:remove_product_purchase' item.product.id %}" class="btn btn-primary">Remover</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class=" fixed-bottom mb-5 ms-5 input-group-sm">
  <div class="input-group mb-3">
    <div class="d-flex flex-row align-items-center">
      Total:
      <input readonly placeholder="Total:" type="text" class="form-control" value="{{ total }}">
      <a class="btn btn-primary btn-sm" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#finish_purchase">Finalizar Compra</a>
    </div>
  </div>
</div>
<div class="modal fade"
  id="finish_purchase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirme Suas Credenciais</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      <div class="modal-body ">
        <form action="{% url 'purchase:finish_purchase' %}" method="post">
          {% csrf_token %}
          {{ authForm }}
          <div class="d-flex flex-row mx-auto justify-content-between align-items-center me-3 mt-3">
            <button type="submit" class="btn btn-primary">Registrar Compra</button>
            <th><a href="{% url 'purchase:clean_all_products_purchase' %}" class="btn btn-danger">Fechar</a></th>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--------------------------------->
<div class="modal fade"
  id="show_spends" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Extrato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mx-auto">
        <p>Gastos da Referencia Passada: {{ total_spends_last_referred|floatformat:2 }}</p>
        <br>
        <p>Gastos da Referencia Atual: {{total_spends_current |floatformat:2 }}</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% if show_spends %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const myModal = new bootstrap.Modal(document.getElementById('show_spends'));
        myModal.show();

        setTimeout(function() {
        myModal.hide();
        window.location.href = "{% url 'purchase:clean_all_products_purchase' %}";
        }, 3500);
    });
</script>
{% endif %}
{% endblock content %} {% block javascripts %}{% endblock javascripts %}