<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Boas-vindas</title>
</head>
<body>
  <div style="background-color: #472ac4; padding: 20px; color: white; margin: auto;">
    <h1>Bem-vindo(a) a SCI!</h1>
    <p>Olá {{nome}},</p>
    <p>Estamos muito felizes em ter você como parte da nossa família. Seja bem-vindo(a) e aproveite todas as vantagens e recursos disponíveis.</p>
    <p>Aqui estão algumas informações úteis para você começar:</p>
    <p>Dados de acesso para confirmação de compra</p>
    <p>Nome de usuário: {{username}}</p>
    <p>Senha: {{password}}</p>
    <p>Senha Provisória, solicite a redefinição no GG</p>
    <p>Se você tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato conosco.</p>
    <p>Atenciosamente,</p>
    <p>Gente e Gestão</p>
  </div>
</body>
</html>
