<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Conveniência Sci - {% block title %}{% endblock %} 
      {% load static %}
    </title>
    <link rel="stylesheet" href="{% static 'css/css_reset.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/shake.css'%}">
    <link rel="stylesheet" href="{% static 'css/validations_colors.css'%}">
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <meta charset="UTF-8"/>
  <title>Log In</title>
  <body onload="remove_messages()">
    <div class="d-flex flex-column ms-0">
      <div class="bg-primary">
        <div>
          {% include 'side-bar.html' %}
        </div>
      </div>
    <div class="container-fluid mt-5" >
      {% block content %}{% endblock content %} 
    </div>
    <div>
      {% include 'modal_avisos_staticos.html'%}
    </div>
    </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
      <script src="{% static 'js/messages_remove_on_page.js'%}"></script>
      <script src="{% static 'js/cpfValidation.js'%}"></script>
      <script src="{% static 'js/generateUsername.js'%}"></script>
      <script src="{% static 'js/inputStandardPassword.js'%}"></script>
      <script src="{% static 'js/inputMask.js'%}"></script>
      <script src="{% static 'js/validate_password.js'%}"></script>
      <script src="{% static 'js/confirmChoiceOnSwitch.js'%}"></script>
      <script src="https://kit.fontawesome.com/9958a2dab0.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>