{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% load static %}
<div class="container">
    <div class="card col-6" style="width: 18rem;">
        <img src="{% static 'imgs/calendar.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Fechamento</h5>
            {% if dias == 0 %}
            <p class="card-text">O fechamento da referencia da conveniencia Sci é Hoje</p>
            {% else %}
            <p class="card-text">Faltam {{dias}} dias para o fechamento</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %}{% endblock javascripts %}