{% extends 'base.html' %}
{% block title %} Usuarios {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Faturamento Total Da Referencia Atual</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{current_billing|floatformat:2 }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Dias para o fechamento </div>
                            <div class="col-auto">
                                {% if dias == 0 %}
                                <h3 class="card-text">É Hoje</h3>
                                {% else %}
                                <h3 class="card-text">{{dias}}</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4" >
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body" style="height: 150px; overflow-x: auto;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 bg-white">
                                Produtos Baixo Estoque na Loja
                            </div>
                            <div class="row no-gutters align-items-center">
                                <table class="col-auto overflow-x-auto" >
                                    {% for product in products_low_stock_StoreStock %}
                                    <p class="
                                    {% if product.stock_quantity <= 3 %}
                                    bg-danger
                                    {% else %}
                                    bg-warning
                                    {% endif %}">{{ product }}</p>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body" style="height: 150px; overflow-x: auto;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Produtos Baixo Estoque no deposito
                            </div>
                            <div class="row no-gutters align-items-center">
                                <table class="col-auto overflow-x-auto" >
                                    {% for product in products_low_stock_Warehouse %}
                                    <p class="
                                    {% if product.stock_quantity <= 3 %}
                                    bg-danger
                                    {% else %}
                                    bg-warning
                                    {% endif %}">{{ product }}</p>
                                    {% endfor %}
                                </table>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Vendas</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}