<div class="modal fade" id="meuModalUnico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="meuModalUnicoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body " id="modal-body-text">
          <p id="p_alerts">aaaaaaaa</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>