<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body "  id="modal-body-text" >
         
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-ok" class="btn btn-primary" >Entendi,mas desejo proseguir</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>


<Script>

    function mostrarModal(mensagem) {
        let modal_body_text = document.getElementById('modal-body-text');
        let element_h3 = document.createElement('h3');
        element_h3.style.color = 'Gray';
        element_h3.textContent = mensagem;
        modal_body_text.appendChild(element_h3)
        resposta_modal = false;
        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        
        myModal.show();
        document.getElementById('btn-ok').addEventListener('click',
            async function(){
               myModal.hide();
               resposta_modal = true
            }
        )
        if (resposta_modal){
            alert(resposta_modal)
            return true;
        }else{
            return false;
        }
}
</Script>

