{% if user.is_authenticated %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle">
    </button>
  </div>
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'user:initial_page' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Conveniência <sup></sup></div>
  </a>
  <div class="sidebar-heading">
    Menus
  </div>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'user:initial_page' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Inicio</span></a>
  </li>


  {% if user.is_superuser %}
  <li class="nav-item">
    <a href="{% url 'user:main_menu_user' %}" class="nav-link">
      <i class="fa-solid fa-user"></i>
      <span>Usuarios</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'user:page_initial_reports' %}" class="nav-link">
      <i class="fa-solid fa-file"></i>
      <span>Relátorios</span>
    </a>
  </li>
  {% endif %}
  {% if user.is_staff or user.is_superuser %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'collaborator:main_menu_collaborator' %}">
      <i class="fa-solid fa-person"></i>
      <span>Colaboradores</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'product:main_menu_product' %}">
      <i class="fa-solid fa-boxes-stacked"></i>
      <span>Produtos</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'category:main_menu_category' %}">
      <i class="fa-sharp fa-solid fa-vector-square"></i>
      <span>Categorias</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'user:logout_system' %}">
      <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    </a>
  </li>
  
  <hr>
</ul>
{% endif %}