{% extends 'base.html' %}
{% block title %} Produtos {% endblock %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<div class="card vh-100 mt-3">
  <div class="card-header rounded-top">
    <a href="{% url 'stock:stock_management'%}">
        <i class="fa-sharp fa-solid fa-arrow-left fa-2xl"></i>
    </a>
    Voltar para gestão de estoque
</div>
  <div class="card-header-second">
    <p>Historico de Movimentações</p>
  </div>
  <div class="card-body">
    <div class="d-flex flex-row mb-4">
      <div><a href="{% url 'stock:show_logs_warehouse' %}" class="btn btn-primary me-2">Vizualizar
          Historico da Deposito</a></div>
      <div><a href="{% url 'stock:show_logs_store_stock' %}" class="btn btn-primary me-2">Vizualizar
          Historico da Loja</a></div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Usuario</th>
          <th>Quantidade</th>
          <th>Tipo de Movimentação</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logsWerehouse %}
        <tr>
          <th>{{ log.product }}</th>
          <th>{{ log.user }}</th>
          <th>{{ log.quantity }}</th>
          <th>{{ log.get_type_movement_display }}</th>
          <th>{{ log.date }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
  $('table').DataTable({
    language: {
      info: 'Mostrando página _PAGE_ de _PAGES_',
      infoEmpty: 'Nada Disponível',
      infoFiltered: '',
      lengthMenu: 'Mostrando _MENU_ registros por página',
      zeroRecords: 'Nada encontrado, desculpe',
      "paginate": {
        "first": "Primeira",
        "last": "Última",
        "next": "Próxima",
        "previous": "Anterior"
      },
      "search": "Filtro por Data/hora: ",
    },
    dom: '<"clear"p><"top"fl>rt<"bottom"ip><"clear">',
  });
  $('table').DataTable();
</script>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}