{% extends 'base.html' %} {% block title %} Atualizar Usuarios {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="card p-5">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} timeout fade-out">
        {{ message }}
        </div>
     {% endfor %}
  <h1 class="mb-3">Atualizar Senha de Usuário</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <br/>
    <div class="d-flex justify-content-center">
      <input type="submit" value="Atualizar" class="btn btn-primary btn-sm"/>
    </div>
  </form>
</div>
{% endblock content %} 
{% block javascripts %}{% endblock javascripts %}